<% layout('/listings/layouts/boilerplate') -%>
<div class="container" >
    <div class="row justify-content-center">
        <div class="col-md-8"  >
            <h3>Create a New Listing</h3>
            <form method="POST" action="/listings"  class="needs-validation" novalidate >
                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input name="listing[title]" placeholder="Add a catchy title" type="text" class="form-control" required/>
                    <div class="valid-feedback">
                        <Title></Title> Looks good!
                      </div>
                </div>

                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <input name="listing[description]" placeholder="Enter description" type="text" class="form-control" required/>
                </div>

                <div class="mb-3">
                    <label for="image" class="form-label">Image</label>
                    <input name="listing[image]" placeholder="Enter image URL/link" type="text" class="form-control" required/>
                    <div class="invalid-feedback">
                        Please choose a URL.
                      </div>
                </div>

                <div class="row">
                    <div class="mb-3 col-md-6">
                        <label for="price" class="form-label">Price</label>
                        <input name="listing[price]" placeholder="1200" type="number" class="form-control" required/>
                        <div class="invalid-feedback">
                            Please provide a valid Price.
                          </div>
                    </div>

                    <div class="mb-3 col-md-6">
                        <label for="location" class="form-label">Location</label>
                        <input name="listing[location]" placeholder="Kanpur, Mathura" type="text" class="form-control" required/>
                        <div class="invalid-feedback">
                            Please provide a valid Location.
                          </div>
                    </div>
                </div>

                <div class="mb-3">
                    <label for="country" class="form-label">Country</label>
                    <input name="listing[country]" placeholder="India" type="text" class="form-control" required/>
                    <div class="invalid-feedback">
                        Please provide a valid Country.
                      </div>
                </div>
                <div class="col-12">
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
                      <label class="form-check-label" for="invalidCheck">
                        Agree to terms and conditions
                      </label>
                      <div class="invalid-feedback">
                        You must agree before submitting.
                      </div>
                    </div>
                  </div>

                <button class="btn btn-dark add-btn btn-edit" type="submit">Add</button>
            </form>
        </div>
    </div>
</div>
